.env
.idea
bin
.git
.DS_Store
# Helm variables directory
.deploy
!.deploy/registry_credentials_values.yaml
!.deploy/elasticsearch_credentials_values.yaml
!.deploy/ingress_values.yaml
coverage.out
vendor
tmp
.netrc
swagger
.air.toml
/http-client.private.env.json
/http-requests.http

# helm deps
.ops/helm/service/charts
.ops/helm/service/values.yaml
requirements.lock
